:root{
    --cyan : #05DFD7;
    --orange : #EC7373;
    --brown : #D8B5B5;
    --cream : #FFE196;
}

*{
    font-family: 'Climate Crisis', cursive;
    font-family: 'Tilt Warp', cursive;
}

body,html{
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--orange);
    background-color: var(--brown);
}

select{
    outline: none;
    border: none;
    color: var(--cream);
    background-color: var(--orange);
    padding-bottom:0.3rem;
    font-size: 1.2rem;
    text-align-last: center;
}

label{
    background-color: var(--cream);
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.main-container{
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button{
    margin: 2rem 0;
    font-size: 3rem;
    padding: 1rem 2rem;
    color: var(--cream);
    background-color: var(--orange);
    border: none;
    border-radius: 10px;
    transition-duration: 0.3s;
}


button:active{
    scale: 0.95;
    background-color: var(--cyan);
}

h1{
    margin: 0px;
    border-radius: 0.5rem;
    letter-spacing: 15px;
    padding: 1rem 1rem 1rem calc(1rem + 15px);
    text-align: center;
    background-color: var(--orange);
    color: var(--cream);
}